# Android Studio/IntelliJ
.idea/
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries/

# Build and Gradle files
/build/
.gradle/
/.gradle
/out/
/bin/
/gen/
/externalNativeBuild/
/cxx/

# Local configuration files
local.properties
.vcs.xml

# Log and debug files
*.log
captures/
*.hprof

# APK, AAB, DEX files
*.apk
*.aar
*.aab
*.ap_
*.dex

# Proguard and Lint reports
proguard/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Miscellaneous system files
.DS_Store  # macOS system file
.directory  # Linux KDE file
